{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
<div class="row py-5" style="background-image: linear-gradient(rgba(224,255,255,0.01), rgba(144,238,144,0.42)); border-radius: 30px">
    <div class="col-lg-8 p-3">
        <h1 class="py-5 display-3"><strong>The Challenges</strong></h1>
        <p>Hotel management can be a herculean task if not managed efficiently.<br> An <strong>online hotel management system</strong> software which can systematically maintain the customers’ services, meanwhile train the hotel management students for success was indeed the need of the hour.<br> Our client approached the team with a vision of a web-based hotel booking software, which can also fulfill the requirement of hotel management training program.<br> The team of <strong>Popescu Manuel</strong> was ready to apply all its might to serve him the best.</p>
    </div>
</div>
</div>

{% endblock %}